<header>

    <div class="container-izquierda">
    <button class="menu_icono" type="button" name="button"><i class="fa fa-bars"></i></button></button>
    </nav>
    <button class="icono-btn" id="buscador"><i class="fa fa-search"></i></button></div>   
    </div>
    <div class="header_logo">
        
        <a href="home.html" ref="volver"><img src="../public/design/images/icons/logo.png"></a>
    </div>
    
    <div class="container-derecha">
    
        <div class="icono1"><a href="#"><img src="../public/design/images/icons/icon-carrito.svg"
                    alt="icono carrito"></a></div>
        <div class="icono2"><a href="#"><img src="../public/design/images/icons/icon-favorites.png"
                    alt="icono3"></a></div>
        <div class="icono3"><a href="#"><img src="../public/design/images/icons/logodeloginusuario.png"
            alt= "usuario4"></div></a>
            </div>
    
        </header>