<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tree Movie - Inicio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    
        <!-- <header class="flex">
            <div class="container-izquierda-header flex items-container">
                <div class="icono-container flex "><button class="btn flex" id="menu"><i class="fa fa-bars fa-size"></i></button>
                </div>
                <div class="search-bar-container flex">
                    <input class="buscador" type="text" placeholder="Buscar..." name="buscador">
                    <div class="icono-container flex"><button class="btn flex" id="buscar"><i class="fa fa-search fa-size"></i></button></div>
                </div>
            </div>
            <div class="logo-container"><img src="./diseño/imagenes/logo.png" alt="TRIMOVI"></div>
            <div class="container-derecha-header flex items-container">
                <div class="icono-container"><a href="#"><img src="./diseño/imagenes/Logo-Iconos/icon-carrito.svg"
                            alt="icono carrito"></a></div>
                <div class="icono-container"><a href="#"><img src="./diseño/imagenes/Logo-Iconos/iconodefavoritos.png"
                            alt="icono favoritos"></a></div>
                <div class="icono-container"><img src="./diseño/imagenes/Logo-Iconos/logodeloginusuario.png"
                        alt="avatar usuario"></div>
            </div>
        </header> -->

        <main class="home-container flex">
            <!-- banner -->
            <div class="banner">
                <img src="./design/images/banner-carrousel.png" alt="banner">
            </div>

            <!-- seccion principal -->
            <div class="main-section flex">
                <!-- peliculas -->
                <section class="container-articles flex">
                    <article class="article flex">
                        <div class="img-container"><img src="./diseño/imagenes/productos/antman y avispa.webp"
                                alt="articulo"></div>
                        <div class="data-article flex">
                            <h4 class="titulo noun"> Ant-man & wasp</h4>
                            <h6 class="precio">precio $$$</h6>
                            <div><button class="btn">agregar al carrito</button></div>
                        </div>
                    </article>
                    <article class="article flex">
                        <div class="img-container"><img src="./diseño/imagenes/productos/black phanter.webp"
                                alt="articulo"></div>
                        <div class="data-article flex">
                            <h4 class="titulo noun"> Pantera negra</h4>
                            <h6 class="precio">precio $$$</h6>
                            <div><button class="btn">agregar al carrito</button></div>
                        </div>
                    </article>
                    <article class="article flex">
                        <div class="img-container"><img src="./diseño/imagenes/productos/capitana marvel.jpg"
                                alt="articulo"></div>
                        <div class="data-article flex">
                            <h4 class="titulo noun">capitana marvel</h4>
                            <h6 class="precio">precio $$$</h6>
                            <div><button class="btn">agregar al carrito</button></div>
                        </div>
                    </article>
                    <article class="article flex">
                        <div class="img-container"><img src="./diseño/imagenes/productos/doctor stranger.jpg"
                                alt="articulo"></div>
                        <div class="data-article flex">
                            <h4 class="titulo noun"> doctor strange</h4>
                            <h6 class="precio">precio $$$</h6>
                            <div><button class="btn">agregar al carrito</button></div>
                        </div>
                    </article>
                    <article class="article flex">
                        <div class="img-container"><img src="./diseño/imagenes/productos/escuadro suicida deuda infernal.webp"
                                alt="articulo"></div>
                        <div class="data-article flex">
                            <h4 class="titulo noun"> escuadron suicida: deuda infernal</h4>
                            <h6 class="precio">precio $$$</h6>
                            <div><button class="btn">agregar al carrito</button></div>
                        </div>
                    </article>
                    <article class="article flex">
                        <div class="img-container"><img src="./diseño/imagenes/productos/escuadron suicida.jpg"
                                alt="articulo"></div>
                        <div class="data-article flex">
                            <h4 class="titulo noun">escuadro suicida</h4>
                            <h6 class="precio">precio $$$</h6>
                            <div><button class="btn">agregar al carrito</button></div>
                        </div>
                    </article>
                    <article class="article flex">
                        <div class="img-container"><img src="./diseño/imagenes/productos/guardianes de la galaxia.jpg"
                                alt="articulo"></div>
                        <div class="data-article flex">
                            <h4 class="titulo noun">guardianes de la galaxia</h4>
                            <h6 class="precio">precio $$$</h6>
                            <div><button class="btn">agregar al carrito</button></div>
                        </div>
                    </article>
                    <article class="article flex">
                        <div class="img-container"><img src="./diseño/imagenes/productos/justice league apokolips war.jpg"
                                alt="articulo"></div>
                        <div class="data-article flex">
                            <h4 class="titulo noun">justice league: apokolips war</h4>
                            <h6 class="precio">precio $$$</h6>
                            <div><button class="btn">agregar al carrito</button></div>
                        </div>
                    </article>
                    <article class="article flex">
                        <div class="img-container"><img src="./diseño/imagenes/productos/justice league fatal fight.webp"
                                alt="articulo"></div>
                        <div class="data-article flex">
                            <h4 class="titulo noun">justice league: fatal fight</h4>
                            <h6 class="precio">precio $$$</h6>
                            <div><button class="btn">agregar al carrito</button></div>
                        </div>
                    </article>
                    <article class="article flex">
                        <div class="img-container"><img src="./diseño/imagenes/productos/liga de la justicia oscura.jpg"
                                alt="articulo"></div>
                        <div class="data-article flex">
                            <h4 class="titulo noun">liga de la justicia oscura</h4>
                            <h6 class="precio">precio $$$</h6>
                            <div><button class="btn">agregar al carrito</button></div>
                        </div>
                    </article>
                    <article class="article flex">
                        <div class="img-container"><img src="./diseño/imagenes/productos/los jovenes titanes el contrato de judas.jpg"
                                alt="articulo"></div>
                        <div class="data-article flex">
                            <h4 class="titulo noun"> los jovenes titanes: el contrato de judas</h4>
                            <h6 class="precio">precio $$$</h6>
                            <div><button class="btn">agregar al carrito</button></div>
                        </div>
                    </article>
                    <article class="article flex">
                        <div class="img-container"><img src="./diseño/imagenes/productos/spiderman de regreso a casa.jpg"
                                alt="articulo"></div>
                        <div class="data-article flex">
                            <h4 class="titulo noun"> spiderman: de regreso a casa</h4>
                            <h6 class="precio">precio $$$</h6>
                            <div><button class="btn">agregar al carrito</button></div>
                        </div>
                    </article>
                    <article class="article flex">
                        <div class="img-container"><img src="./diseño/imagenes/productos/spiderman lejos de casa.jpg"
                                alt="articulo"></div>
                        <div class="data-article flex">
                            <h4 class="titulo noun">spiderman: lejos de casa</h4>
                            <h6 class="precio">precio $$$</h6>
                            <div><button class="btn">agregar al carrito</button></div>
                        </div>
                    </article>
                </section>

                <!-- navbar -->
                <div class="container-nav">
                    <nav class="nav-bar flex">
                        <div class="contain-category">
                            <div class="title"><h2>categorias</h2></div>
                            <ul class="list">
                                <li>
                                    <button>
                                        <a href="#">Marvel</a>
                                    </button>
                                </li>
                                <li><a href="#"><span>DC</span></a></li>
                                <li><a href="#"><span>Estrenos</span></a></li>
                                <li><a href="#"><span>Proximamente</span></a></li>
                                <li><a href="#"><span>Animadas</span></a></li>
                            </ul>
                        </div>

                        <div class="contain-category">
                            <div class="title-category"><h2>año</h2></div>
                            <ul class="list-category">
                                <li><a href="#">2021</a></li>
                                <li><a href="#">2020</a></li>
                                <li><a href="#">2019</a></li>
                                <li><a href="#">2018</a></li>
                                <li><a href="#">2017</a></li>
                                <li><a href="#">2016</a></li>
                                <li><a href="#">2015</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

        </main>

        <!-- footer -->
        <!-- <footer class="flex">
            <div class="info-personal">
                <ul class="flex">
                    <li><a href="#">privacidad</li>
                    <li><a href="#">terminos y condiciones</li>
                    <li><a href="#">sobre nosotros</a></li>
                </ul>
            </div>
            <div class="redes-sociales flex">
                <span>siguenos</span>
                <ul class="flex">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                </ul>
            </div>
        </footer> -->
</body>

</html>