<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tree Movie - Inicio</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header">
        <div>
            <img src="/diseño/imagenes/icon-menu.svg" alt="Menu">
        </div>
        <div> 
            <img src="/diseño/imagenes/icon-busqueda.svg" alt="Busqueda">
        </div>
        <div>
            <img  src="/diseño/imagenes/logo.png" alt="logo" width="100" >
        </div>
        <div>
            <img src="/diseño/imagenes/carrito-paint.png" width="100px" alt="">
        </div>
    </header>
    <main>
        <nav class="categorias">
            <div>
                <ul>
                    <li>categorias
                        <ul>
                            <li>Comedia</li>
                            <li>Terror</li>
                            <li>Accion</li>
                            <li>Fantasia</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div>
            <img src="/diseño/imagenes/banner.png" width="100%" alt="banner">
        </div>
        <nav class="abecedario">
            <ul class="letras">
                <li>A</li>
                <li>B</li> 
                <li>C</li>
                <li>D</li>
                <li>E</li>
                <li>F</li>
                <li>G</li>
                <li>H</li>
                <li>I</li>
                <li>J</li>
                <li>K</li>
                <li>L</li>
                <li>M</li>
                <li>N</li>
                <li>Ñ</li>
                <li>O</li>
                <li>P</li>
                <li>Q</li>
                <li>R</li>
                <li>S</li>
                <li>T</li>
                <li>U</li>
                <li>V</li>
                <li>W</li>
                <li>X</li>
                <li>Y</li>
                <li>Z</li>
            </ul>
        </nav>
        <section class="peliculas">
            <h2>PELICULAS</h2>
            <article>
                <div>
                    <img src="/diseño/imagenes/prev-movie.svg" width="100px" alt="">
                    <p>Odisea grupo 3</p>
                </div>
                <div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo similique hic dolorum </p>
                    <p style="align-content: flex-end;">$100.99</p>
                </div>
            </article>
            <article>
                <div>
                    <img src="/diseño/imagenes/prev-movie.svg" width="100px" alt="">
                    <p>Odisea grupo 3</p>
                </div>
                <div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo similique hic dolorum </p>
                    <p style="text-align-last: right;">$100.99</p>
                </div>
            </article>
            <article>
                <div>
                    <img src="/diseño/imagenes/prev-movie.svg" width="100px" alt="">
                    <p>Odisea grupo 3</p>
                </div>
                <div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo similique hic dolorum </p>
                    <p style="text-align-last: right;">$100.99</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div>

        </div>
    </footer>
    <div>
        <p style="text-align: center;">Derechos reservados group 3</p>
    </div>
</body>
</html>