<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>

  <body>
    <main class="login-container">
    <div class="contenedor">
      <header>
        <h1><a href="home.html">PAGINA DE INICIO</a>
        <a href="register.html">REGISTRARSE</a></h1>
      </header>

      <div class="login">
          <img src="/diseño/imagenes/Logo-Iconos/logodeloginusuario.png" alt="User">
          <form class="login-form" action="index.html" method="post">
            <span class="icon-user"></span><input class="inp" type="text" name="user" value=""><br>
            <span class="icon-key"></span><input class="inp" type="password" name="pass" value=""><br>
            <h4><a href="" class="menssage-text">He olvidado mi contraseña</a></h4>
            <input class="boton" type="submit" name="inicio" value="Iniciar Sesión">
          </form>
   
        <nav id="redes-container">
    
          <div class="box">
              <a href="https://www.facebook.com"><img class="img"
                      src="/diseño/imagenes/Logo-Iconos/logofacebook.png"></a>
          </div>
      
          <div class="box">
              <a href="https://www.instagram.com"><img class="img"
                      src="/diseño/imagenes/Logo-Iconos/logoinstagram.png"></a>
          </div>
      
          <div class="box">
              <a href="https://www.google.com"><img class="img"
                      src="/diseño/imagenes/Logo-Iconos/logogoogle.png"></a>
          </div>
        </main>
      <footer class="flex">
        <div class="info-personal">
            <ul class="flex">
                <li><a href="#">privacidad</li>
                <li><a href="#">terminos y condiciones</li>
                <li><a href="#">sobre nosotros</a></li>
            </ul>
        </div>
        <div class="redes-sociales flex">
            <span>siguenos</span>
            <ul class="flex">
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
            </ul>
        </div>
    </footer>
    </div>
  </body>

</html>
