<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');
    </style>

    <title>TriMovi - Escuadrón Suicida</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="pd">
  
        <header class="flex">
            <div class="container-izquierda-header flex items-container">
                <div class="icono-container flex "><button class="btn flex" id="menu"><i
                            class="fa fa-bars fa-size"></i></button>
                </div>
                <div class="search-bar-container flex">
                    <input class="buscador" type="text" placeholder="Buscar..." name="buscador">
                    <div class="icono-container flex"><button class="btn flex" id="buscar"><i
                                class="fa fa-search fa-size"></i></button></div>
                </div>
            </div>
            <div class="logo-container"><a class="pd" href="home.html"><img src="./diseño/imagenes/logo.png" alt="TRIMOVI"></a></div>
            <div class="container-derecha-header flex items-container">
                <div class="icono-container"><a class="pd" href="carrito.html"><img src="./diseño/imagenes/Logo-Iconos/icon-carrito.svg"
                            alt="icono carrito"></a></div>
                <div class="icono-container"><a class="pd" href="#"><img src="./diseño/imagenes/Logo-Iconos/iconodefavoritos.png"
                            alt="icono favoritos"></a></div>
                <div class="icono-container"><a class="pd"href="login.html"><img src="./diseño/imagenes/Logo-Iconos/logodeloginusuario.png" alt="avatar usuario"></a></div>
            </div>
        </header>
        <main >
            <section class="flexpd-row">
                <section class="detalle-izq">
                    <article class="pd">
                            
                    
                        <h4>Elenco</h4>
                    
                        <div>
                          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, repudiandae consequatur? Natus, laborum at. Aliquid dicta totam et omnis velit!</p>  
                        </div>
                     </article>
                    <article class="pd">
                      <h4>Direccion</h4>
                    
                        <div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, repudiandae consequatur? Natus, laborum at. Aliquid dicta totam et omnis velit!

                            </p> 
                        </div>
                </article>
            </section>
            <section class="pd-container flexpd ">
                
                <div class="flexpd-row">
                    <img class="imgpd" src="./diseño/imagenes/productos/escuadron suicida.jpg"  > 
                </div> 
                   
            </section>
            <section class="pd-container flexpd">
                    <div class="flexpd-item-pd-container">
                        <article class="pd">
                            <h3>Escuadrón suicida</h3>
                            <hr>
                            <h3>Sinopsis</h3>
                            <p class="pd">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam minus sintillo, velit quia ipsam eos facere odio ab quis, saepe magni praesentium, excepturi nulla iusto hic officiis. Libero amet quis cum aut fugit? Dolorum atque animi
                                    officiis vel impedit deleniti .<p>
                                        
                            <div class="infoprod">
                               <ul>
                                  <li>Categoria: Acción</li>
                                  <li>Reparto:</li>
                                  <li>Duración:120 min.</li>
                               </ul>

                            </div>
                            <div class="data-articulopd flexpd">
                                <span><h3>Precio</h3></span>
                                  
                                <a href="carrito.html"><img class="imgpd" src="./diseño/imagenes/Logo-Iconos/icon-carrito.svg" widht="30%"
                                height="30%"></a>                     
                            </div>
                        </article>    
                 </div>
            </section>
        </section>
        <h3>RELACIONADOS</h3>
       
    <section class="extras-flexpd">
        
        <article class="pd ">
                 <h4>Spiderman, de regreso a casa</h4>
                    <a href="#"><img class="imgpd"src="./diseño/imagenes/productos/spiderman de regreso a casa.jpg">
                         </a>
                    
               
            </article>
            <article class="pd">
                
                    <h4>Los Jovenes Titanes: El contrato de Judas</h4>
                    
                        <a href="#"><img class="imgpd" src="./diseño/imagenes/productos/los jovenes titanes el contrato de judas.jpg"></a>
                   
               
            </article>
            <article class="pd ">
               
                    <h4>Spiderman: lejos de casa</h4>
                    
                        <a href="#"><img class="imgpd" src="./diseño/imagenes/productos/escuadron suicida.jpg"></a>
                    
                
            </article>
            <article class="pd no-show">
                
                    <h4>Spiderman: un nuevo universo</h4>
                    
                        <a href="#"><img class="imgpd" src="./diseño/imagenes/productos/spiderman un nuevo universo.jpg">
                        </a>
                    
                    
            </article>
            <article class="pd no-show">
                
                    <h4>El viaje de Chihiro</h4>
                   
                        <a href="#"><img class="imgpd" src="./diseño/imagenes/productos/Chihiro.png">
                        </a>
                   
                 
            </article>
        </div>   
        </section>
        <!--<section>
            
            <article id="carrusel">
                <a href="#" class="left-arrow"><img src="images/left-arrow.png" /></a>
                <a href="#" class="right-arrow"><img src="images/right-arrow.png" /></a>
                <div class="carrusel">
                    <div class="product" id="product_0">
                        <img src="./diseño/imagenes/productos/Chihiro.png"  >
                        <h5>El Viaje de Chichiro</h5>
                        <p>165.00 €</p>
                    </div>
                    <div class="product" id="product_1">
                        <img src="./diseño/imagenes/productos/spiderman un nuevo universo.jpg" >
                        <h5>Spiderman:</h5>
                        <h5>Un nuevo universo</h5>
                        <p>100.00 €</p>
                    </div>
                    <div class="product" id="product_2">
                        <img src="./diseño/imagenes/productos/guardianes de la galaxia.jpg" width="195" height="100" >
                        <h5>Guardianes de la Galaxia</h5>
                        <p>250.00 €</p>
                    </div>
                    <div class="product" id="product_3">
                        <img src="./diseño/imagenes/productos/los jovenes titanes el contrato de judas.jpg" width="195" height="100" >
                        <h5>Los jóvenes Titanes:</h5><br>
                        <h5>El contraro de Judas</h5>
                        <p>75.00 €</p>
                    </div>
                    <div class="product" id="product_4">
                        <img src="./diseño/imagenes/productos/spiderman de regreso a casa.jpg" width="195" height="100" >
                        <h5>Spiderman:</h5><br><br>
                        <h5>De regreso a casa</h5>
    
                        <p>65.00 €</p>
                    </div>
                    <div class="product" id="product_5">
                        <img src="./diseño/imagenes/productos/capitana marvel.jpg" width="195" height="100" />
                        <h3>Capitana marvel</h3>
                        <p>40.00 €</p>
                    </div>
                </div>
            </article>
        -->
    </main>
        <footer class="flex">
            <div class="info-personal">
                <ul class="flex">
                    <li><a href="#">privacidad</li>
                    <li><a href="#">terminos y condiciones</li>
                    <li><a href="#">sobre nosotros</a></li>
                </ul>
            </div>
            <div class="redes-sociales flex">
                <span>siguenos</span>
                <ul class="flex">
                    <li><a href="http://www.facebook.com"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="http://www.youtube.com"><i class="fab fa-youtube-square"></i></a></li>
                    <li><a href="http://www.instagram.com"><i class="fab fa-instagram-square"></i></a></li>
                    <li><a href="http://www.twitter.com"><i class="fab fa-twitter-square"></i></a></li>
                </ul>
            </div>
        </footer>


        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script>
        var current = 0;
        var imagenes = new Array();
         
        $(document).ready(function() {
            var numImages = 6;
            if (numImages <= 3) {
                $('.right-arrow').css('display', 'none');
                $('.left-arrow').css('display', 'none');
            }
         
            $('.left-arrow').on('click',function() {
                if (current > 0) {
                    current = current - 1;
                } else {
                    current = numImages - 3;
                }
         
                $(".carrusel").animate({"left": -($('#product_'+current).position().left)}, 600);
         
                return false;
            });
         
            $('.left-arrow').on('hover', function() {
                $(this).css('opacity','0.5');
            }, function() {
                $(this).css('opacity','1');
            });
         
            $('.right-arrow').on('hover', function() {
                $(this).css('opacity','0.5');
            }, function() {
                $(this).css('opacity','1');
            });
         
            $('.right-arrow').on('click', function() {
                if (numImages > current + 3) {
                    current = current+1;
                } else {
                    current = 0;
                }
         
                $(".carrusel").animate({"left": -($('#product_'+current).position().left)}, 600);
         
                return false;
            }); 
         });
        </script>
</body>

</html>