<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');
    </style>
     <style>
        @import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');
    </style> 
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');
        </style> 

    <title>TriMovi - Detalle de producto</title>
    <link rel="stylesheet" href="css/product-detail.css">
</head>
<body>
    <header>
       <div class="burger-menu"><a href="#categorias">
        <i class="fas fa-bars"></i></a>
            </div>
        <div class="busqueda"> 
              <input type="text">
            </div><img src="./diseño/imagenes/Logo-Iconos/icon-busqueda.svg" alt="Busqueda">
          
        </div>
        <div class="logo">
           <a href="home.html"> <img  src="./diseño/imagenes/Logo-Iconos/logo.png" alt="logo" width="100" ></a>
        </div>
        <div class="login"><a href="login.html">
            <img class="icon-loginuser" src="./diseño/imagenes/Logo-Iconos/logodeloginusuario.png" width="100px" alt=""></a>
        
        <div class="icon-carrito">
            <img  src="./diseño/imagenes/Logo-Iconos/logocarritorojo.png" width="100px" alt="">
        </div>
    
    
        <nav id="categorias"></nav>
            <ul class="nav">
                <li>categorias</li>
                    <ul>
                <li><a href="">Comedia</a></li>
                <li><a href="">Terror</a></li>
                <li><a href="">Accion</a></li>
                <li><a href="">Drama</a></li>
                <li><a href="">País</a></li>
                <li><a href="">Fantasía</a></li>
                <li><a href="">Compañía</a></li>
                <li><a href="">Director</a></li>
                <li><a href="">Reparto</a></li>
            </ul>
            </ul> 
        </nav>
    </header>    
    <main>
       
    <section>
    <article>
        <div class="product">
            <h3>Escuadrón suicida</h3>
            <img class="img" src="./diseño/imagenes/productos/escuadron suicida.jpg" alt="Escuadron suicida">
            <h4>Descripción</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam minus sint illo, velit quia ipsam eos facere odio ab quis, saepe magni praesentium, excepturi nulla iusto hic officiis. Libero amet quis cum aut fugit? Dolorum atque animi officiis vel impedit deleniti .</p>
            <div class="info-detail">
                <ul>
            <p>Categorias</p>
            <p>Reparto</p>
            <p>Duración:</p>
                </ul>
            </div>
            <div class="comprar">
                <h4>Precio</h4>
                <a href="">Comprar</a>
                <a href="">Agregar al Carrito <img src="./diseño/imagenes/icon-carrito.svg"></a>
            </div>
        </div>
    </article>
</section>
<br>
<section class="extras-flex">
<article>
    <div class="extras">
        <h4>Spyderman, de regreso a casa</h4>
        <img class="img" src="./diseño/imagenes/productos/spiderman de regreso a casa.jpg" alt="Spyderman, de regreso a casa">
        
    </div>
</article>
<article>
    <div class="extras">
        <h4>Los Jovenes Titanes: El contrato de Judas</h4>
        <a href="" ><img class="img" src="./diseño/imagenes/productos/los jovenes titanes el contrato de judas.jpg" alt="Los Jovenes Titanes: El contrato de Judas"></a>

    </div>
</article>
<article>
    <div class="extras">
        <h4>Spiderman: lejos de casa</h4>
        <a href=""><img class="img" src="./diseño/imagenes/productos/spiderman lejos de casa.jpg" alt="Spiderman: lejos de casa"></a>
    </div>
</article>
<article >
    <div class="extras">
        <h4>Spiderman: un nuevo universo</h4>
        <a href=""><img class="img" src="./diseño/imagenes/productos/spiderman un nuevo universo.jpg" alt="Spiderman: un nuevo universo"></a>     
    </div>
</article>
<article>
    <div class="extras">
        <h4>Spiderman:hilo rojo</h4>
        <a href=""><img class="img" src="./diseño/imagenes/productos/spiderman hilo rojo.jpg" alt="Spiderman: Hilo rojo"></a>
    </div>
</article>
 </section>
</main>
<footer class="flex">
        <div class="info-personal">
            <ul class="flex">
                <li><a href="#">Privacidad</li>
                <li><a href="#">Terminos y condiciones</li>
                <li><a href="#">Sobre nosotros</a></li>
            </ul>
        </div>
        <div class="redes-sociales flex">
            <span>siguenos</span>
            <ul class="flex">
                <li><a href="http://www.facebook.com"> <img src="./diseño/imagenes/logofacebook.png" alt="Seguir en facebook"><i class="fab fa-facebook-square"></i></a></a></li>
                <li><a href="http://www.twitter.com"alt="Twitter"><i class="fab fa-twitter-square"></i></a></li>
                <li> <a href="http://www.Instagram.com"> <img src="./diseño/imagenes/logoinstagram.png" alt="Seguir en Instagram"><i class="fab fa-instagram-square"></i></a></li>
            </ul>
        </div>
    </footer>
</li>

    
</body>
</html>
