<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');
    </style>
     <style>
        @import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');
    </style> 
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');
        </style> 

    <title>TriMovi - Detalle de producto</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="home-container">
        <header class="flex">
            <div class="container-izquierda-header flex">
                <div class="icono-container flex"><button class="btn flex" id="menu"><i class="fa fa-bars"></i></button>
                </div>
                <div class="search-bar-container flex">
                    <input class="buscador" type="text" placeholder="Buscar..." name="buscador">
                    <div class="icono-container flex">
                        <button class="btn flex" id="buscar"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="logo-container"><img src="./diseño/imagenes/logo.png" alt="TRIMOVI"></div>
            <div class="container-derecha-header flex">
                <div class="icono-container"><a href="#"><img src="./diseño/imagenes/Logo-Iconos/icon-carrito.svg"
                            alt="icono carrito"></a></div>
                <div class="icono-container"><a href="#"><img src="./diseño/imagenes/Logo-Iconos/iconodefavoritos.png"
                            alt="icono favoritos"></a></div>
                <div class="icono-container"><img src="./diseño/imagenes/Logo-Iconos/logodeloginusuario.png"
                        alt="avatar usuario"></div>
            </div>
        </header>
    <main>
   <div class="img-container">
        <section class="container-articulos flex">
              <article class="articulo flex">
                <h1>Escuadrón suicida</h1>
                <div class="img-container"><img class="img" src="./diseño/imagenes/productos/escuadron suicida.jpg" alt="Escuadron suicida"></div><div class="data-articulo flex">
                <h4>Descripción</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam minus sint illo, velit quia ipsam eos facere odio ab quis, saepe magni praesentium, excepturi nulla iusto hic officiis. Libero amet quis cum aut fugit? Dolorum atque animi officiis vel impedit deleniti .</p>
                <div class="info-detail">
                <ul>
                    <li>Categorias</li>
                    <li>Reparto</li>
                    <li>Duración:</li>
                </ul>
                </div>
                <div class="comprar">
                    <div class="data-articulo flex">
                        <h4 class="titulo sustantivo"> Escuadron suicida</h4>
                        <h6 class="precio">precio $$$</h6>
                        <div><a class="pd" href="">Agregar al Carrito <img src="./diseño/imagenes/Logo-Iconos/icon-carrito.svg"></a>
                        <a class="pd"href="">Comprar</a></div>
                    </div>
                                
                
                </div>
                </div>
                </article>
               
            </article>
        
         
</section>
<br>
<section class="extras-flex">
<article>
    <div class="extras">
        <h3>Relacionados</h3>
        <h4>Spyderman, de regreso a casa</h4>
        <a href="" ><img class="img" src="./diseño/imagenes/productos/spiderman de regreso a casa.jpg" alt="Spyderman, de regreso a casa"></a>
        
    </div>
</article>
<article>
    <div class="extras">
        <h4>Los Jovenes Titanes: El contrato de Judas</h4>
        <a href="" ><img class="img" src="./diseño/imagenes/productos/los jovenes titanes el contrato de judas.jpg" alt="Los Jovenes Titanes: El contrato de Judas"></a>

    </div>
</article>
<article>
    <div class="extras">
        <h4>Spiderman: lejos de casa</h4>
        <a href=""><img class="img" src="./diseño/imagenes/productos/spiderman lejos de casa.jpg" alt="Spiderman: lejos de casa"></a>
    </div>
</article>
<article >
    <div class="extras">
        <h4>Spiderman: un nuevo universo</h4>
        <a href=""><img class="img" src="./diseño/imagenes/productos/spiderman un nuevo universo.jpg" alt="Spiderman: un nuevo universo"></a>     
    </div>
</article>
<article>
    <div class="extras">
        <h4>Spiderman:hilo rojo</h4>
        <a href=""><img class="img" src="./diseño/imagenes/productos/spiderman hilo rojo.jpg" alt="Spiderman: Hilo rojo"></a>
    </div>
</article>
 </section>
</main>
<footer class="flex">
        <div class="info-personal">
            <ul class="flex">
                <li><a href="#">Privacidad</li>
                <li><a href="#">Terminos y condiciones</li>
                <li><a href="#">Sobre nosotros</a></li>
            </ul>
        </div>
        <div class="redes-sociales flex">
            <span>siguenos</span>
            <ul class="flex">
                <li><a href="http://www.facebook.com"> <img src="./diseño/imagenes/logofacebook.png" alt="Seguir en facebook"><i class="fab fa-facebook-square"></i></a></a></li>
                <li><a href="http://www.twitter.com"alt="Twitter"><i class="fab fa-twitter-square"></i></a></li>
                <li> <a href="http://www.Instagram.com"> <img src="./diseño/imagenes/logoinstagram.png" alt="Seguir en Instagram"><i class="fab fa-instagram-square"></i></a></li>
            </ul>
        </div>
    </footer>
</li>

    
</body>
</html>
