<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tree Movie - register</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/css/register.css">
    </head>
<body>

    <!--CAMPOS DE DATOS-->
    <!--Nombre de usuario-->
    <div class="NombreDeUsuario">
        <form action="idnombre" method="post">  
        <label for="Nombre">Nombre</label>
        <input type="Nombre" placeholder="enter Nombre" ></form></div>
    <!--Apellido de usuario-->
    <div class="ApellidoDeUsuario">
        <form action="idApellido" method="post">  
        <label for="Apellido">Apellido</label>
        <input type="Apellido" placeholder="enter Apellido" ></form></div>
         <!--Apellido de usuario-->
    <div class="NombreDeFantasia">
        <form action="idNombreDeFantasia" method="post">  
        <label for="NombreDeFantasia">NombreDeUsuario</label>
        <input type="NombreDeFantasia" placeholder="enter Nombre de usuario"></form></div>
    <!--EMAIL-->
        <div class="email">
        <form action="register" method="post">  
        <label for="email">EMAIL</label>
        <input type="email" placeholder="enter email" ></form></div>
   
        <!--CONTRASEÑA-->    
        <div class="password"><form action="register" method="post">
        <label for="pass">CONTRASEÑA</label>
        <input type="text" placeholder="enter password" id="password" ></form></div>
        
        <!--CONFIRMAR CONTRASEÑA-->    
        <div class="passwordconfirm"><form action="register" method="post">
            <label for="pass">CONFIRMAR CONTRASEÑA</label>
            <input type="text" placeholder="enter password" id="password" ></form></div>
    <!--REGISTRARSE-->    
    <div class="Continuar"><button type="submit">Continuar</button></div>
    
             <!--ICONOS-->
        <i class="fa-solid fa-envelope"></i>  <!--MAIL-->
        <i class="fa-solid fa-user-crown"></i>  <!--USUARIO-->
        <i class="fa-solid fa-lock-keyhole"></i> <!--CANDADO CERRADO-->
        <i class="fa-solid fa-unlock-keyhole"></i> <!--CANDADO SEMI ABIERTO-->
        <i class="fa-solid fa-star-sharp"></i> <!--ESTRELLA-->
    </form>   
</body>
</html>
