*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    height: 100vh;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, rgb(192, 190, 190) 0%, rgb(116, 164, 179) 100%);
}

a{
    color: gray;
    font-size: 0.9rem;
    text-decoration: none;
}

h1{
    text-align: center;
    margin-bottom: 1rem;
}

.form-container{
    padding: 2rem;
    margin: auto;
    background-color: rgb(240, 240, 240);
    text-align: center;
    width: 80%;
    height: 0 a;
    border-radius: 5px;
    position: relative;
    margin-left: 7rem;

}

.form-1{
    padding: 2rem;
    display: flex;
   flex-direction: column;
   margin: 1rem;
   justify-content: center;
   align-items: center;
   
}

/* input*/

.input-container,
.buttom-cont{
    display: flex;
    margin: 1rem;
    width: 100%;
    flex-direction: column;
    

}


span.error-message {
    color: red;
    margin: 0 auto;
    font-size: 15px;
    margin: 8px auto;
    display: none;
}

input.input-style{
    border-radius: 6px;
    border:none;
    height: 2.5rem;
    padding: .5rem;

}


buttom{
    display: flex;
    margin-top: 15rem;
    border-radius: 1rem;
    background-color: green;
    width: 6rem;
    height: 2rem;
    color: rgb(241, 241, 241);
    font-size: 1rem;
    cursor: pointer;
    padding: 2px 20px;


}
    
