/*HTML*/

*{
    margin: 0;
    padding: 0;
  }

  .contenedor{
    background-image: url(/design/images/icons/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  /*HIPERVINCULOS PAGINA DE INICIO Y PAGINA DE REGISTRO*/

  main .login-container{
    width: 100%;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0,.3)
  }
  .Hipervinculos-vistasContainer h1{
    margin-left: 650px;
    margin-top: auto;
    font-family: montez;
    font-size: 30px;
  }

  .Hipervinculos-vistasContainer a{
    margin-right: 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    transition: all ease 300ms;
    background: linear-gradient(45deg, blue 0%,  rgba(243, 6, 17, 0.719) 50%);
    color: rgb(white,yellow);
    transition: all 0.3s ease-in-out;
  }
  .Hipervinculos-vistasContainer a:hover{
    color: white;
    box-shadow: 0px 0px 10px yellowgreen;
  }

/*AVATAR*/

  .login{
    margin-top: 130px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100%;
  }
  
  img {
    transform: scale(0.4);
  }
  
  .fondo img{
    margin-top: 75px;
    margin-bottom: 40px;
    width: 100%;
    border-radius: 50%;
    border: solid #fff 5px;
  }

  
 /*FORMULARIO*/ 

.login-form {
  background-color: rgba(121, 112, 122, 0.9);
  margin-top: -100px;
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 5px;
  
}

/*he olvidado mi contraseña*/
.login-formtext {
display: flex;
flex-direction: column;

font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
  
  /*iniciar sesion boton*/

  .boton{
    width: 100%;
    height: 30px;
    font-size: 22px;
    border: 0;
    text-align: center;
    background: rgba(255, 0, 0, 0.0);
    border-bottom: solid 1px #fff;
    color: #fff;
    margin-top: 50px;
    transition: all 200ms ease;
  }
  .boton:hover{
    width: 120%;
    margin-left: -10%;
  }
  .boton:active{
    background-color: rgba(255, 255, 255,0.2);
    outline: 0;
    border: 0;
    border-radius: 5px;
  }
  .boton:focus{
    background-color: rgba(255, 255, 255,0.2);
    outline: 0;
    border: 0;
    border-radius: 5px;
  }


  .boton:hover{
    border: 120%;
  }
  
  #redes-container{
    display: flex;
    flex-direction: row;
    transform: scale(0.3);
    height: auto;
    width: auto;
  }
  
  /*FOOTER*/

  @import url('footer.css');
  