@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');
@import url('footer.css');
@import url('header.css');
/*Arriba importamos fuentes que usaremos*/
/*Declaramos variables*/
:root{
    --grisazulado :#5A667B ;
    --azul: #71AAFF ;
    --rojo:#CD2222 ;
    --negro: #000000;
    --roboto: "Roboto", sans-serif;
    --fenix: "Fenix" ;
    --federo: "Federo";
    
   
}


* { /*todo el sitio*/
    box-sizing:border-box;
    margin: 0 auto;
    padding: 0;
}


body.pd {
    
    background-color:var(--negro);
    padding: 15px 10px 0;
  
}

.flexpd-row{
    display:none;
    display:flex;
    flex-direction: row;
}

a.pd {
    color: var(--grisazulado);
    text-decoration: none;
}

a.pd:hover{
    box-shadow: 0px 0px 5px rgba(101, 20, 230, 0.39);
    }

.flexpd{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    max-width: 420px;
    
}

main.flexpd-row{
    padding-top:30px;
}
main.flexpd-row section.extras-flexpd{
     display:none;
    
 }

 main.flexpd-row section.pd-container.flexpd div.flexpd-row{
    display:flex;
    flex-direction: column;
}

 .pd-container{
    display:flex;
    flex-direction: column;
    margin: 15 auto;
    width: 100%;
    max-width: 420px;
    padding:  10px;
    background-color: var(--azul);
}


section.pd-container.flexpd article.pd-container:hover{

    box-shadow:5px 3px 2px var(--grisazulado);
    border: double 2px var(--rojo);
}

.imgpd{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    object-fit: cover;
}

section.pd-container.flexpd article.pd-container h4 {
    color:var(--negro);
}
 p.pd{
    font-family: var(--roboto);
    color: var(--negro);
    text-align: justify;
    padding-bottom: 30px;
    padding-top: 30px;
    
}



section article  a.pd {
    margin-top: 13px;
    padding: 7px 10px;
    text-decoration: none;
    
}

section article .info-detail{
    display:none;
    /*margin-bottom: 20px;
    list-style: none;*/
}


.pd-container h3{
 font-family: var(--roboto);
 text-align: center;
 color:var(--negro);

}



div.data-articulopd.flexpd{
    
 width: 30%;
 align-self: center;
 border-radius: 20%;
 border-color: var(--grisazulado);
 border:double 2px var(--grisazulado);
 background-color: var(--azul);

    
}

div.data-articulopd.flexpd:hover{

    box-shadow: 0px 0px 5px rgba(20, 59, 230, 0.39);
        
}


section.extras-flexpd {
    padding-top: 10%;
    width: 100%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items:center;
    border-color: var(--azul);
    background-color: var(--negro);
}

h3.pd, h4.pd{
    
    color:green;
    text-align: center;
}

section.extras-flexpd article.pd{
    padding: 5px;
    margin-left: 2px;
    background-color: var(--azul);
    width: 15%;
    display:flex;
    flex-direction: column;
}

section.extras-flexpd article.pd .extraspd:hover{
    box-shadow: 0px 0px 5px rgba(101, 20, 230, 0.39);
    border:dotted 2px var(--grisazulado);
    background-color: var(--azul);

}


section.extras-flexpd article.pd div.extraspd a.pd{
  border:none;

}

section.extras-flexpd article.pd img.imgpd{ 
        
        padding-bottom: 7px;
        object-fit: cover;
        overflow: hidden;

}






/* footer */

footer{
    margin-top: 25px;
    width: 100%;
    background-color: #5A667B;
    flex-direction: column;
} 
footer div{
    margin: 10px auto;
}
footer div ul{
    list-style: none;

}
footer div ul li a{
    text-decoration: none;
    color: black;
}
footer div.info-personal ul{
    flex-direction: column;
}
footer div.redes-sociales ul{
    margin-top: 5px;
}
footer div.redes-sociales ul li{
    margin: 0 10px;
}

@media(min-width: 768px){
    header {
        max-width: 100%;
    }
    
    header nav {
        display: none;
        margin: 20px 0;
    }

   

    header nav ul li {
        display: inline-block;
        font-size: 14px;
        padding: 7px 7px;
        margin-bottom: 0px;
        width: 113px;
        margin-right: 9.5px;
    }

    header nav ul li:last-child {
        margin-right: 0;
    } 
    
    main.flexpd-row{
        display:flex;
        width: 80%;
        flex-direction: row;
        margin-right: 0 auto;
        float:left;
        margin-right: -7%;
    }

    main.flexpd-row section.extras-flexpd {
        display: flex;
        flex-direction:column;
        padding:5px;
        max-width: 400px;
    }

    main.flexpd-row section.extras-flexpd article.pd{
        width: fit-content;
        margin:3px;
    }

    main.flexpd-row section.extras-flexpd article.pd:hover{
        margin-top: 13px;
        padding: 7px 10px;
        box-shadow: 0px 0px 5px rgba(101, 20, 230, 0.39);
        border:dotted 2px var(--grisazulado);
        padding:2px;  
        
    }

    main.flexpd-row section.pd-container.flexpd div.flexpd-row{
        display:flex;
        flex-direction: row;
    }

  
    main.flexpd-row section.pd-container.flexpd{

        display: flex;
        flex-direction:row;
        max-width:60%;
        height: 40%;
        margin:0 auto;
        padding-bottom: 5%;
        margin-right: 1%;
        
        
    }
    main.flexpd-row section.pd-container.flexpd:hover{
        box-shadow: 0px 0px 5px rgba(101, 20, 230, 0.39);
    
    }

 
    
    section article .info-detail{
        align-self: flex-start;
        margin-bottom: 20px;
        list-style: none;
    }  

    div.data-articulopd.flexpd{
        width: 30%;
        height: 18%;
        border:2px solid var(--negro);
        align-self: center;
        text-align: center;
        margin-bottom:200px;
        margin: 0 auto;
           
       }

   article.pd article div.data-articulopd.flexpd a.pd{
        color: var(--grisazulado);
        text-decoration: none;
    
       }
     
    div.data-articulopd.flexpd a.pd:hover  {
        box-shadow: 0px 0px 5px rgba(101, 20, 230, 0.39);
        }

    div.data-articulopd.flexpd:hover{

        box-shadow:5px 3px 2px var(--azul);
        border:dotted 2px var(--grisazulado);
        background-color: var(--azul);
    }


    div.data-articulopd.flexpdimg .imgpd{

        margin:0 auto;

    }
    
    section.pd-container.flexpd div.flexpd-item-pd-container article.pd div.flexpd h4{

        color:var(--negro)
    }
        
 
    



@media (min-width:1180px) {

   body{
        max-width:1180px;
    } 

}

/*product*/



 section.extras-flexpd {
    width:100%;
     }
.extraspd:nth-child(3n){
        margin-right:0;
    }


    


    
@media(min-width: 1024px){
    body{
        max-width:1180px;
    } 
 
   

}


 




     
