@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');
@import url('footer.css');
@import url('header.css');
/*Arriba importamos fuentes que usaremos*/
/*Declaramos variables*/
:root{
    --grisazulado :#5A667B ;
    --azul: #71AAFF ;
    --rojo:#CD2222 ;
    --negro: #000000;
    --roboto: "Roboto", sans-serif;
    --fenix: "Fenix" ;
    --federo: "Federo";
    
   
}


* { /*todo el sitio*/
    box-sizing:border-box;
    margin: 0 auto;
    padding: 0;
}


body.pd {
    
    background-color:var(--negro);
    padding: 15px 10px 0;
  
}

div.logo-container a.pd{
    
    text-decoration: none;
}



.flexpd-row{
    
    display:flex;
    flex-direction: row;
}

body.pd header.flex a.pd {
    
    background-color: none;
}

a.pd:hover{
    box-shadow: 0px 0px 5px rgba(101, 20, 230, 0.39);
    }

.flexpd{
    display: flex;
    flex-direction: column;
    justify-content: center; 
   
    
}

section.flexpd-row{
    padding-top:30px;
}
section.flexpd-row section.extras-flexpd{
     display:none;
    
 }

 section.flexpd-row section.pd-container.flexpd div.flexpd-row{
    display:flex;
    flex-direction: column;
}

 .pd-container{
    display:flex;
    flex-direction: column;
    margin: 10 auto;
    width: 100%;
    max-width: 420px;
    padding:  10px;
    background-color: var(--azul);
}


section.pd-container.flexpd article.pd-container:hover{

    box-shadow:5px 3px 2px var(--grisazulado);
    border: double 2px var(--rojo);
}


/*section.pd-container.flexpd div.flexpd-row div.flexpd-item-pd-container article.pd{
    
}
*/
section.pd-container.flexpd div.flexpd-row div.flexpd-item-pd-container {
    width:100%;
    background-image: url("../diseño/imagenes/productos/escuadron\ suicida.jpg");
    background-size: cover;
   }
   section.pd-container.flexpd div.flexpd-row div.flexpd-item-pd-container img{
       opacity:0;
   }
div.flexpd-item-pd-container article.pd h3{
    margin-top: 3%;
}

 p.pd{
    font-family: var(--roboto);
    color: var(--negro);
    text-align: justify;
    padding-bottom: 30px;
    padding-top: 30px;
    
}



section article  a.pd {
    margin-top: 13px;
    padding: 7px 10px;
    text-decoration: none;
    
}

section article .info-detail, div.infoprod,  section.flexpd-row section.detalle-izq {
    display:none;
    /*margin-bottom: 20px;
    list-style: none;*/
}


.pd-container h3{
 font-family: var(--roboto);
 text-align: center;
 color:var(--negro);

}



div.data-articulopd.flexpd{
    
 width: 30%;
 align-self: center;
 border-color: var(--grisazulado);
 border:double 2px var(--grisazulado);
 background-color: var(--grisazulado);

    
}

div.data-articulopd.flexpd:hover{

    box-shadow: 0px 0px 5px rgba(20, 59, 230, 0.39);
        
}

main .flexpd-row h2{
    color:var(--azul)
}
section.extras-flexpd {
    padding-top: 5%;
    width: 100%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between;
    border-color: var(--azul);
    background-color: var(--negro);
}

section.extras-flexpd article.pd{
    padding: 5px;
    margin-left: 2px;
    background-color: var(--azul);
    width: 15%;
    display:flex;
    flex-direction: column;
}

section.extras-flexpd article.pd:hover{
    box-shadow: 0px 0px 5px rgba(101, 20, 230, 0.39);
    border:solid 2px var(--rojo);
    

}


section.extras-flexpd article.pd a.pd{
  border:none;
  text-decoration:none;

}

section.extras-flexpd article.pd img.imgpd{ 
        width:150px;
        
}

/*.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 300px + 3em);
}

.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}

.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}

.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.slide-circulo:hover {
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador li:nth-child(3) .slide-circulo {
    color: #428bca;
}

#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

*/

@media(min-width: 768px){
   
    section.flexpd-row{
        display:flex;
        flex-direction: row;
        align-content:space-evenly;
      
    }
          
    section.flexpd-row section.detalle-izq {
        
        display: flex;
        flex-direction:column;
        padding:1%;
        width: 50%;
        margin:2% auto;
        padding-bottom: 5%;
        padding-right: 5px;
        background-color: var(--azul);
        
    }

    section.flexpd-row section.detalle-izq article.pd {
        
        margin-top:1%;
        
        padding: 10px;
        border:solid 2px var(--rojo);

    }
    section.flexpd-row section.detalle-izq div {
        position:relative;

       
        
    }
    
    section.flexpd-row section.detalle-izq div p {
        padding-top: 5px;
        /*text-align: left;*/
        font-size: 1em;
        
    }
    
    section.flexpd-row section.extras-flexpd article.pd{
        padding: 1%;
        margin:3px;
       
    }

   /* section.flexpd-row section.extras-flexpd article.pd:hover{
        margin-top: 13px;
        padding: 7px 10px;
        box-shadow: 0px 0px 5px rgba(101, 20, 230, 0.39);
        border:dotted 2px var(--grisazulado);
        padding:2px;  
        
    }*/

    

    section.flexpd-row section.pd-container.flexpd div.flexpd-row{
        display:flex;
        flex-direction: row;
    }


    section.flexpd-row section.pd-container.flexpd{

        display: flex;
        flex-direction:row;
        /*max-width:50%;*/
        height: 40%;
        /*margin:2px auto;*/
        padding-bottom: 2%;
       margin: 2%;
        border: solid 2px var(--rojo)
        
        
    }
    section.flexpd-row section.pd-container.flexpd:hover{
        box-shadow: 0px 0px 5px rgba(101, 20, 230, 0.39);
    
    }
    div.infoprod ul{
        display:flex;
        flex-direction: row;
        align-self: flex-start;
    }
   
    div.infoprod ul li{
        
        list-style:none;
        

    }
    section article .info-detail{
        align-self: flex-start;
        margin-bottom: 20px;
        list-style: none;
    }  

    div.data-articulopd.flexpd{
        width: 30%;
        height: 18%;
        border:2px solid var(--negro);
        align-self: center;
        text-align: center;
        margin-bottom:200px;
        margin: 0 auto;
           
       }

   article.pd article div.data-articulopd.flexpd a.pd{
        color: var(--grisazulado);
        text-decoration: none;
    
       }
     
    div.data-articulopd.flexpd a.pd:hover  {
        box-shadow: 0px 0px 5px rgba(101, 20, 230, 0.39);
        }

    div.data-articulopd.flexpd:hover{

        box-shadow:5px 3px 2px var(--azul);
        border:dotted 2px var(--grisazulado);
        background-color: var(--azul);
    }


    div.data-articulopd.flexpdimg .imgpd{

        margin:0 auto;

    }
    
    section.pd-container.flexpd div.flexpd-item-pd-container article.pd div.flexpd h4{

        color:var(--negro)
    }
        
 
    



@media (min-width:1180px) {

   body{
        max-width:1180px;
    } 

}

/*product*/


 section.extras-flexpd {
    width:100%;
     }
.extraspd:nth-child(3n){
        margin-right:0;
    }


      
@media(min-width: 1024px){
    body{
        max-width:1180px;
    } 
    

}
}