@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');
@import url('footer.css');
@import url('header.css');
/*Arriba importamos fuentes que usaremos*/
/*Declaramos variables*/
:root{
    --grisazulado :#5A667B ;
    --azul: #71AAFF ;
    --rojo:#CD2222 ;
    --negro: #000000;
    --roboto: "Roboto", sans-serif;
    --fenix: "Fenix" ;
    --federo: "Federo";
    
   
}


* { /*todo el sitio*/
    box-sizing:border-box;
    margin: 0 auto;
    padding: 0;
}


body.pd {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:var(--negro);
    padding: 15px 10px 0;
  
}

.flexpd-row{
    display:none;
    display:flex;
    flex-direction: row;
}




a.pd {
    color: var(--grisazulado);
    text-decoration: none;
}

a.pd:hover{
    box-shadow: 0px 0px 5px rgba(101, 20, 230, 0.39);
    }

.flexpd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 420px;
    
}
 .flexpd-row{
     display:none;
    
 }

 .pd-container{
    display:flex;
    flex-direction: column;
    margin: 15 auto;
    max-width: 420px;
    width: 100%;
    padding:  10px;
    background-color: var(--azul);
}


section article .pd-container:hover{

    box-shadow:5px 3px 2px var(--grisazulado);
    border: double 2px var(--grisazulado);
}

.imgpd{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    object-fit: cover;
}


 p.pd{
    font-family: var(--roboto);
    color: var(--negro);
    text-align: justify;
    padding-bottom: 30px;
    padding-top: 30px;
    
}



section article  a.pd {
    margin-top: 13px;
    padding: 7px 10px;
    text-decoration: none;
    border:2px solid var(--negro);
}


.info-detail ul li{
    margin-bottom: 20px;
    list-style: none;
    display:none;
}


.product h4{
 font-family: var(--roboto);
 text-align: center;
 color:var(--azul);

}

section article .info-detail{
    display:none;
}

div.data-articulopd.flexpd {
    border:2px solid var(--grisazulado);
}

div.data-articulopd{
    display:inline-block;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    flex-direction: column;
}

 
section.extras-flexpd {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between ;
    border-color: var(--azul);
    width: 100%;
    background-color: var(--negro);
}

section.extras-flexpd article.pd .extraspd {
    
    border:dotted 2px var(--grisazulado);
    width: 20%;
    align-items: stretch;
    background-color: var(--azul);

}

section.extras-flexpd article .extraspd:hover{
    box-shadow: 0px 0px 5px rgba(101, 20, 230, 0.39);
    border:dotted 2px var(--grisazulado);
    background-color: var(--azul);
}


article.pd{
    width: 100%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.extraspd div{
    width: 80%;
    background-color: var(--azul);
    color:var(--negro)
}

.extraspd div img{
    object-fit: cover;
   
}





/* footer */

footer{
    margin-top: 25px;
    width: 100%;
    background-color: #5A667B;
    flex-direction: column;
} 
footer div{
    margin: 10px auto;
}
footer div ul{
    list-style: none;

}
footer div ul li a{
    text-decoration: none;
    color: black;
}
footer div.info-personal ul{
    flex-direction: column;
}
footer div.redes-sociales ul{
    margin-top: 5px;
}
footer div.redes-sociales ul li{
    margin: 0 10px;
}

@media(min-width: 768px){
    header {
        max-width: 100%;
    }
    
    header nav {
        display: none;
        margin: 20px 0;
    }

   

    header nav ul li {
        display: inline-block;
        font-size: 14px;
        padding: 7px 7px;
        margin-bottom: 0px;
        width: 113px;
        margin-right: 9.5px;
    }

    header nav ul li:last-child {
        margin-right: 0;
    } 
    
    main.flexpd-row{
        display:flex;
        flex-direction: row;
    }

    main.flexpd-row section.extras-flexpd{
        max-width: 35%;
    }
    main.flexpd-row section.pd-container.flexpd{

        display: flex;
        flex-direction:row;
        max-width:60%;;
        text-align:left;

    }
    
        
    section article .info-detail{
        display:flex;
        flex-direction: column;
        align-items: left;
    }

    .info-detail ul li{
        margin-bottom: 20px;
        list-style: none;
    }
    
    div.data-articulopd.flexpd{
        position:absolute;
        float:right;
    }
   
    footer div.info-personal{
        margin: 15px 0 0;
    }
    footer div.info-personal ul{
        flex-direction: row;
        justify-content: space-between;
    }
    footer div.info-personal ul li{
        padding: 0 5px;
        border-right: 1px double black;
    }
    footer div.info-personal ul li:last-child{
        padding-right: unset;
        border-right: unset;
    }
}



@media (min-width:1180px) {

   body{
        max-width:1180px;
    } 

}
header nav{
    margin:30px 0px 20px;
}
header nav ul li{

    font-size:16px;
    margin-right:11px;
    padding:7px 15px;
    width:180px ;
}

/*product*/

.productpd {

        max-width:90%;
        margin-right: 5px;
        padding-bottom: 30px;
     }

 section.extras-flexpd {
    width:100%;
     }
.extraspd:nth-child(3n){
        margin-right:0;
    }
    
footer ul {
      text-align:center;

}
footer ul li{
   border-right: 1px solid white;
   display:inline-block;
   margin-top: 68px;
   padding: 0 10px;
   text-transform: capitalize;

}
footer ul li:last-child{
    border-right: none;
}

    
@media(min-width: 1024px){
    body{
        max-width:1180px;
    } 
 
    footer.flex{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    footer div.info-personal{
        margin: 10px auto;
    }
    footer div.redes-sociales{
        display:flex;
        flex-direction: row;
    }

}


 




     
