@import url('footer.css');

.capa-fondo{
    background-attachment: fixed;
    background-repeat: space;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}

.capa-fondo img{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}


a {
    color: blue;
    font-size: 0.8rem;
    text-decoration: none;
}

h2 {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

hr {
    height: 2px;
    margin-bottom: 3rem;
    width: 100%;
    background: linear-gradient(90deg, #71AAFF, red);
    border: none;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    /*background: linear-gradient(#71aaff, white);*/
    background-color: rgba(100, 100, 100, .3);
    border-radius: 10px;
    margin: 30px auto;
    height: fit-content;
    height: -moz-fit-content;
    width: 75%;
    padding: 1rem;
}
/* Form inputs */

.input-container,
.button-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 100%;
}

.button-container {
    align-items: center;
}

span.error-message {
    color: red;
    font-size: 10px;
    margin: 5px auto;
    display: none;
}

input.input-style {
    border: none;
    border-radius: 1rem;
    height: 2.5rem;
    padding: .5rem;
    background-color: rgba(100, 100, 100, .6);
}

input.input-style::placeholder {
    color: lightgray;
}

label {
    font-size: 12px;
}

.input-file-container {
    background-color: white;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
}

select.input-select {
    border: none;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 0.5rem;
}

input.input-style:focus,
.input-file-container,
select.input-select:focus {
    box-shadow: 0 0 6px rgb(255, 255, 255);
    outline: none;
}



.check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 80%;
}

.check label {
    margin-right: 10px;
    position: relative;
    top: -1px;
}


/* Media queries*/
/* Tablet */

@media screen and (min-width: 475px) {

    .input-container,
    .button-container,
    .input-file-container {
        width: 90%;
    }

    .form-container {
        width: 75%;
        max-width:1000px;
    }

}


@media screen and (min-width: 768px) {

    .input-container,
    .button-container,
    .input-file-container {
        width: 80%;
    }

    .form-container {
        width: 75%;
    }

}