<!DOCTYPE html>
<html lang="es">
   
   <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/error.css">
    <title>Error 404</title>
</head>
<body>
    <section class="section-404"> 

        <div class="container-404">
            <a href=""><button class="buttom-rosa">Ir al Home!</button></a>
            <div class="header-404"></div>
            <div class="center-404">
                <img src="/design/images/icons/astro.png" alt="" >
            
            </div>
            
    </section>
</body>
</html>



 
