<!DOCTYPE html>
<html lang="es">

    <%- include ('../partials/head')%>
   
    <!--
        <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="/public/css/carrito.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
     <title>Carrito de compras</title>
</head>-->
   
<body>
    <%- include ('../partials/header2')%>
   <!-- <header>

<div class="container-izquierda">



<nav class="nave">
    <ul class="menu">
    <li><a href=""><i class="fa fa-bars"></i></a>
    <ul class="submenu">
        <li><a href="">Home</a></li>
        <li><a href="">Registro</a></li>
        <li><a href="">Contacto</a></li>
    </ul></li>
   
</ul>


</nav>
  </div>
</div>
<div class="header_logo">
    
    <a href="home.html" ref="volver"><img src="/public/design/images/icons/logo.png" style="width: 40%;"></a>
</div>

<div class="container-derecha">

                
    <div class="icono2"><a href="#"><i class="far fa-heart" style="color: cyan;"></i></a></div>
    
    
    
    
    <div class="icono3"><a href="#"><i class="fas fa-user" style="color: cyan;"></i></div></a>
        </div>

    </header> -->
    <br>
    

<body class="container-caja">
    <div class="container-flex">

        <section class="shopping-cart">
            <div class="container">
                <h1 class="text-center">Carrito</h1>
                <br>

                <div class="row">
                    <div class="col-6">
                        <div class="shopping-cart-header">
                            <h6>Producto</h6>
                        </div>
                    </div>
        
                    <div class="col-2">
                        <div class="shopping-cart-header">
                            <h6 class="text-truncate">Precio</h6>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="shopping-cart-header">
                            <h6>Cantidad</h6>
                    
                        </div>
                    
                        
                    </div>
                </div>
                <hr class="gradient">

        <div class="box-shopping">
                    <img class="img-movie"src='/public/design/images/products/Chihiro.png' alt="imagen Chihiro">
               
                </div>
                <div class="pre-cant">
                    <p class="item1">400$</p>
                    </div>


                    
                    <input class="input-CartItem" type="number"
                        value="1">
                    <button class="btn-delete" type="button"><i class="fas fa-trash"></i></button>
                    <i class="bi bi-archive-fill"></i>
                </div>
                <div class="box-shopping">
                    <img class="img-movie"src='/public/design/images/products/justice-league-dark.jpg' alt="Liga de la justicia">
               
                </div>
                <div class="pre-cant">
                    <p class="item1">380$</p>
                    </div>


                    
                    <input class="input-CartItem" type="number"
                        value="1">
                    <button class="btn-delete" type="button"><i class="fas fa-trash"></i></button>
                    
                    <hr class="gradient2">


                   <div class="container-row-flex">
                       
                    <strong class="item-total">Total de compra <i class="fas fa-calculator"></i></strong></div>
            
                    <p class="valor">$780</i></p>
                    <div class="container-verde">
                    <buttom class="btn-verde"><span>Terminar</span></buttom>
                    </div>
                   </div>
                   </div> 
                   
                       
                   
                </div>

            
                   
                </div>
                

                 
                    </div>

        
<!--

       <footer class="container-footer">
            <div class="info">
                <ul class="flexitem">
                    <li><a href="#">Privacidad</li>
                    <li><a href="#">Términos y condiciones</li>
                    <li><a href="#">Sobre nosotros</a></li>
                </ul>
            </div>
            <div class="redes-flex">
               
                <ul class="redes">
                    <a href="https://es-la.facebook.com/"><i class="fab fa-facebook-square" style="color:white"></i></a>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram" style="color:white"></i></a>
                    <a href="https://www.google.es/"><i class="fab fa-google" style="color:white"></i></a>
                

                   
            </div>
        </footer> -->


    

<%-include('../partials/footer2')%>

</body>
</html>