

<!DOCTYPE html>
<html>

<%- include ('./partials/head', {titulo: "Trimovie - LOGIN"})%>


<body>
  <main class="login-container">


    <div class="login">
      <div class="login-bottom-page">

      </div>
      <article class="fondo">
        <div class="aux">
          <a href="/"><img src="/design/images/icons/icon-user-profile.png" alt="User"></a>
        </div>

        <form class="" action="/carrito" method="POST">
          <span class="icon-user"></span><input class="inp" type="email" name="email" placeholder="USUARIO"><br>
          <% if (locals.errors && errors.email) { %>
            <small class="text-danger"> <%= errors.email.msg %>  </small>
        <% } %>
          <span class="icon-key"></span><input class="inp" type="pass" name="pass" value="" placeholder="CONTRASEÑA"><br>
          <% if (locals.errors && errors.pass) { %>
            <small class="text-danger"> <%= errors.pass.msg %>  </small>
        <% } %>

         <h3 id="login-txt">¿haz olvidado tu contraseña?</h3>

         <div>
          <input type="checkbox" name="remember" id="check">
          <label for="check">Recordar</label>
       </div>
         <h3 id="login-txt">¿Haz olvidado tu contraseña?</h3><h2><a href="https://mail.google.com/mail/u/0/#inbox?compose=new" class="he">RECUPERAR CONTRASEÑA</a></h2>
         <h3 id="login-txt">¿No tienes cuenta aún?</h3><h2><a href="/register" class="he">REGISTRARSE</a></h2> 
         <a href="" id="login-isesionboton">
          <span id="i-sesion"></span>
          <span id="i-sesion"></span>
          <span id="i-sesion"></span>
          <span id="i-sesion"></span>
         
      </a>
      <button type="submit"> INICIAR SESION</button>

    </form>
      <a href="register" id="login-isesionboton">
        <span id="i-sesion"></span>
        <span id="i-sesion"></span>
        <span id="i-sesion"></span>
        <span id="i-sesion"></span>
        REGISTRARSE
    </a>
      <div id="redes-container">

          <a href="https://www.facebook.com" id="loginboxredes"><img src="/design/images/icons/logofacebook.png"></a>
          <a href="https://www.instagram.com" id="loginboxredes"><img src="/design/images/icons/logoinstagram.png"></a>
          <a href="https://www.google.com" id="loginboxredes"><img src="/design/images/icons/logogoogle.png"></a>
      </div>

    </div>
  </article>
  
    <%-include('./partials/footer1')%>

  </main>

</body>

</html>