<!DOCTYPE html>
<html>

<%- include ('./partials/head', {titulo: "TRIMOVI - LOGIN"})%>


<body>
  <main class="login-container">


    <div class="login">
      <div class="login-bottom-page">

      </div>
      <article class="fondo">
        <div class="aux">
          <a href="/"><img src="/design/images/icons/icon-user-profile.png" alt="User"></a>
        </div>

        <form class="" action="/user/login" method="POST">
          <span class="icon-user"></span><input class="inp" type="text" name="username" value="" placeholder="USUARIO"><br>
          <span class="icon-key"></span><input class="inp" type="password" name="password" value="" placeholder="CONTRASEÑA"><br>
         <h3 id="login-txt">¿haz olvidado tu contraseña?</h3><h2><a href="https://mail.google.com/mail/u/0/#inbox?compose=new" class="he">RECUPERAR CONTRASEÑA</a></h2>
         <h3 id="login-txt">¿no tienes cuenta aun?</h3><h2><a href="/user/register" class="he">REGISTRARSE</a></h2> 
         <a href="" id="login-isesionboton">
          <span id="i-sesion"></span>
          <span id="i-sesion"></span>
          <span id="i-sesion"></span>
          <span id="i-sesion"></span>
          INICIAR SESION
      </a>
     
      <div id="redes-container">

          <a href="https://www.facebook.com" id="loginboxredes"><img src="/design/images/icons/logofacebook.png"></a>
          <a href="https://www.instagram.com" id="loginboxredes"><img src="/design/images/icons/logoinstagram.png"></a>
          <a href="https://www.google.com" id="loginboxredes"><img src="/design/images/icons/logogoogle.png"></a>
      </div>

    </div>
  </article>
  
    <%-include('./partials/footer1')%>

  </main>

</body>

</html>