<!DOCTYPE html>
<html>
  
    <%- include ('./partials/head')%>
    <!--<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <title>Login</title>
  </head>-->
  

  <body>
    <main class="login-container">
      

      <div class="login">
        <div class="login-bottom-page">
          <button  class="btn btn-submit"><a href="/">REGRESAR PAGINA INICIO</a></button>
          <button  class="btn btn-submit"><a href="/register">REGISTRARSE</a></button>
        </div>
        <article class="fondo">
          <div class="aux">
            <img src="/design/images/icons/icon-user-profile.png" alt="User">
          </div>
          
          <form class="" action="index.html" method="post">
            <span class="icon-user"></span><input class="inp" type="text" name="user" value=""><br>
            <span class="icon-key"></span><input class="inp" type="password" name="pass" value=""><br>
            <h2><a href="" class="he">He olvidado mi contraseña</a></h2>
            <input class="boton" type="submit" name="inicio" value="Iniciar Sesión">
          </form>
        </article>
        <nav id="redes-container">
    
          <div class="box">
              <a href="https://www.facebook.com"><img class="img"
                      src="/design/images/icons/logofacebook.png"></a>
          </div>
      
          <div class="box">
              <a href="https://www.instagram.com"><img class="img"
                      src="/design/images/icons/logoinstagram.png"></a>
          </div>
      
          <div class="box">
              <a href="https://www.google.com"><img class="img"
                      src="/design/images/icons/logogoogle.png"></a>
          </div>
      </div>

      <%-include('partials/footer2')%> 
   
  </main>

  </body>

</html>