<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')%>
<body>
    <%- include('partials/header2')%>
    <main class="register-form">
    <div class="capa-fondo">
        <img src="/design/images/icons/logo.png " alt="">
        <div style="width: 55%;">
            <h1>Te damos la benvenida, <% user.name %> </h1>
            <hr>
            <div class="avatar">
                <img src="design/images/avatars/<%= user.avatar %>" alt="">
            </div>   
            
        <div >

                    
                   
        </div>
    </div>
</main>
           <%- include('partials/footer1') %>  

</body>

</html>