<footer class="flex">
    <div class="info-personal">
        <ul class="flex">
            <li><a href="#">privacidad</li>
            <li><a href="#">terminos y condiciones</li>
            <li><a href="#">sobre nosotros</a></li>
        </ul>
    </div>
    <div class="redes-sociales flex">
        <span>siguenos</span>
        <ul class="flex">
            <li><a href="http://www.facebook.com"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="http://www.youtube.com"><i class="fab fa-youtube-square"></i></a></li>
            <li><a href="http://www.instagram.com"><i class="fab fa-instagram-square"></i></a></li>
            <li><a href="http://www.twitter.com"><i class="fab fa-twitter-square"></i></a></li>
        </ul>
    </div>
</footer>