<header class="flex posicioned">

    <!-- seccion izquierda -->
    <div class="left-container flex">
        <!-- menu hamburguesa -->
        <div class="container-icon flex ">
            <button class="flex sub-menu" id="">
                <i class="fas fa-bars fa-size"></i>
            </button>
        </div>
        <!-- buscador -->
        <div class="container-icon search-box flex">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <form action="">
                <input type="text" class="input-search" placeholder="Buscar...">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>

        </div>
    </div>

    <!-- logo trimovi -->
    <div class="container-logo"><a href="/"><img src="/design/images/icons/logo.png" alt="TRIMOVI"></a></div>

    <!-- contenedor derecho -->
    <div class="right-container flex">
        <!-- carrito -->
        <div class="container-icon flex" id="car">
            <a href="/user/carrito"><i class="fas fa-shopping-cart"></i></a>
        </div>

        <!-- icono de ususario/login -->
        <% if (!session) { %>
        <div class="buttons">
            <div class="buttons">
                <button class="raise"><a class="raiss" href="/user/login">iniciar sesion</a></button>
            </div>
        </div>
        <% } else { %>
        <div class="container-icon flex" id="car" style="flex-direction: column; color: white;">
            <a href="/user/login"><i class="fas fa-user"></i></a>
            <span><%= session.name %></span>
        </div>
        <% } %>
    </div>  

    <!-- js -->
    <script defer src="js/searchBox.js"></script>
</header>

<!-- https://drive.google.com/drive/folders/1afW9XuiiMC1_SoIGm2VPs34Vv9HHaTvq
 -->