<header>

    <div class="container-izquierda">
    
    
    
    <nav class="nave">
        <ul class="menu">
        <li><a href=""><i class="fa fa-bars"></i></a>
        <ul class="submenu">
            <li><a href="">Home</a></li>
            <li><a href="">Registro</a></li>
            <li><a href="">Contacto</a></li>
        </ul></li>
       
    </ul> 
    
    </nav>
      </div>
    </div>
    <div class="header_logo">
        
        <a href="home.html" ref="volver"><img src="/public/design/images/icons/logo.png" style="width: 40%;"></a>
    </div>
    
    <div class="container-derecha">
    
                    
        <div class="icono2"><a href="#"><i class="far fa-heart" style="color: cyan;"></i></a></div>
        <div class="icono3"><a href="#"><i class="fas fa-user" style="color: cyan;"></i></div></a>
            </div>
    
        </header>