<header class="flex posicioned">

    <!--  -->
    <div class="left-container flex">
        <div class="container-icon flex ">
            <button class="flex" id="">
                <i class="fas fa-bars fa-size"></i>
            </button>
        </div>

        <form action="">
            <div class="container-search flex">
                <label class="container-icon flex" for="buscador"><i class="fa fa-search fa-size"></i></label>
                <input id="buscador" type="text" placeholder="Buscar..." name="buscador">
                <div class="container-button flex">
                    <button type="submit" class="btn flex" id="buscar"><i class="fa fa-search fa-size"></i></button>
                </div>
            </div>

        </form>
    </div>

    <div class="container-logo"><img src="./design/images/icons/logo.webp" alt="TRIMOVI"></div>

    <div class="right-container flex">
        <div class="container-icon flex" id="car">
            <a href="#"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div class="container-icon flex" id="fav">
            <a href="#"><img src="./design/images/icons/icon-favorites.png" alt="icono favoritos"></a>
        </div>

        <div class="container-icon flex">
            <button><img src="./design/images/icons/icon-user-profile.png" alt="avatar usuario"></button>
        </div>
    </div>
</header>