<header>

    <div class="container-izquierda">
    
    
    
    <nav class="nave">
        <ul class="menu">
        <li><a href=""><i class="fa fa-bars"></i></a>
        <ul class="submenu">
            <li><a href="/home">Home</a></li>
            <li><a href="/register">Registro</a></li>
            <li><a href="/FAQ/contacto">Contacto</a></li>
        </ul></li>
       
    </ul> 
    
    </nav>
      </div>
    </div>
    <div class="header_logo">
        
        <a href="home.html" ref="volver"><img src="/design/images/icons/logo.png" style="width: 40%;"></a>
    </div>

    <div >
        <div class="user">
            <% if (typeof session.user != "undefined") { %>
                <i class="fas fa-user"></i><span class="session"></span>
                <div>
                    <img class="userProfile avatar" src="/design/images/avatar/<%=user.avatar %> ">
                    <a href="/users/logout">Cerrar sesión</a>
                    <% if (session.user.rol === "USER_ADMIN") { %>
                        <a href="/admin/dashboard">ADMIN</a>
                    <% } %>
                </div>
            <% } else {%>
                <a href="/users/login"><i class="fas fa-user"></i></a>
            <% } %>
        </div>
    </div>

    
    <div class="container-derecha">
    
                    
        <div class="icono2"><a href="#"><i class="far fa-heart" style="color: cyan;"></i></a></div>
        <div class="icono3"><a href="#"><i class="fas fa-user" style="color: cyan;"></i></div></a>
            </div>
    
        </header>