<div class="home-container">
    <header class="flex">
        <div class="container-izquierda-header flex items-container">
            <div class="icono-container flex "><button class="btn flex" id="menu"><i class="fas fa-bars fa-size"></i></button>
            </div>
            <div class="search-bar-container flex">
                <input class="buscador" type="text" placeholder="Buscar..." name="buscador">
                <div class="icono-container flex"><button class="btn flex" id="buscar"><i class="fa fa-search fa-size"></i></button></div>
            </div>
        </div>
        <div class="logo-container"><img src="./design/images/icons/logo.png" alt="TRIMOVI"></div>
        <div class="container-derecha-header flex items-container">
            <div class="icono-container"><a href="#"><i class="fas fa-shopping-cart"></i></div>
            <div class="icono-container"><a href="#"><img src="./design/images/icons/icon-favorites.png"
                        alt="icono favoritos"></a></div>
            <div class="icono-container"><img src="./design/images/icons/icon-user-profile.png"
                    alt="avatar usuario"></div>
        </div>
    </header>