<header class="flex posicioned">

    <!--  -->
    <div class="left-container flex">
        <div class="container-icon flex ">
            <button class="flex sub-menu" id="">
                <i class="fas fa-bars fa-size"></i>
            </button>
        </div>

        <div class="search-box">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <input type="text" class="input-search" placeholder="Buscar...">
        </div>
    </div>

    <div class="container-logo"><a href="/"><img src="/design/images/icons/logo.png" alt="TRIMOVI"></a></div>

    <div class="right-container flex">

        <div class="container-icon flex" id="car">
            <a href="/user/carrito"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div class="container-icon flex" id="car">
            <a href="/user/register">Registrarse</a>
        </div>

      <!--  <% if (session) { %>
            <div class="container-icon flex" id="car">
                <a href="/user/profile"><i class="fas fa-user-astronaut"></i></a>
                
            </div>
        <% } %> -->

        <% if (!session) { %>
        <div class="container-icon flex">
            <a href="/user/login"><i class="fas fa-user"></i></a>
        </div>
        <% } %>

    </div>
</header>