<!DOCTYPE html>
<html>

<%- include ('../partials/head',  {titulo}) %>


<body>
  <%- include ('../partials/header1',  {titulo}) %>
  <main class="login-container">


    <div class="login">
     
     
      <article class="fondo">
        <div class="flexpd aux ">
          <h1>Contáctenos</h1>
        

        <form class="flexpd aux" action="/home" method="POST">
          <label for="email"><h2>Escriba su email</h2></label><br>
          <input type="email" name="email">
          <label for="contacto"><h2>Mensaje</h2></label>
          
          <textarea id="contacto" name="contacto">
          
          
        </form>
      </div>

  </article>
  
    <%-include('../partials/footer1')%>

  </main>

</body>

</html>