<!DOCTYPE html>
<html>

<%- include ('../partials/head',  {titulo}) %>


<body>
  <%- include ('../partials/header1',  {titulo}) %>
  <main class="login-container">


    <div class="login">
     
     
      <article class="fondo">
        <div class="flexpd aux ">
          <h1>Contáctenos</h1>
         <form class="form-container flexpd aux" action="/home" method="POST">
          <label for="email"> </label>
            <h2>Escriba su email</h2>
            <input type="email" name="email">
            <label for="contacto"></label>
              <h2>Mensaje</h2>
              <textarea>
         </form>
        </div>
     </article>
  
    <%-include('../partials/footer1')%>

  </main>

</body>

</html>