<!DOCTYPE html>
<html>

<%- include ('../partials/head',  {titulo}) %>


<body>
  <%- include ('../partials/header1',  {titulo}) %>
  <main class="login-container">


    <div class="login">
     
     
      <article class="fondo">
        <div class="aux">
          <h1>Contáctenos</h1>
        </div>

        <form class="flexpd" action="/home" method="POST">
          <label for="email"><h3>Escriba su email</h3></label>
          <input type="email" name="email">
          <label for="contacto">
            <h3>Mensaje</h3></label>
          <textarea id="contacto" name="contacto">
          
          
        </form>
     
      

    </div>
  </article>
  
    <%-include('../partials/footer1')%>

  </main>

</body>

</html>