<!DOCTYPE html>
<html lang="es">

<body>
    <main class="sobre-nosotros">
     <img src="una foto de nosotros los programadores" alt=""><a href="www.linkedin.com"></a>
    </main>
    <p>
</p>
</body>
</html>